<ion-view view-title="Home">
  <ion-content>
  	<div class="home-buttons">
	    <a class="button button-block button-outline button-balanced icon ion-ios-list" href="#/tab/vocabulary"> Vocabulary </a>
	    <a class="button button-block button-outline button-balanced icon ion-plus-round" href="#/tab/new-word"> Add word</a>
	    <a class="button button-block button-outline button-balanced icon ion-help" href="#/tab/test"> Test </a>
	    <a class="button button-block button-outline button-balanced icon ion-stats-bars" href="#/tab/stats"> Stats </a>
    </div>
  </ion-content>
</ion-view>
