<ion-view view-title="Home">
  <ion-content>
  	<div class="home-buttons">
	    <button class="button button-block button-outline button-balanced icon ion-ios-list"> Vocabulary </button>
	    <button class="button button-block button-outline button-balanced icon ion-plus-round"> Add word</button>
	    <button class="button button-block button-outline button-balanced icon ion-help"> Test </button>
	    <button class="button button-block button-outline button-balanced icon ion-stats-bars"> Stats </button>
    </div>
  </ion-content>
</ion-view>
