<ion-view view-title="New word">
	<ion-content>
		<form ng-show="!wordAdded">
			<label class="item item-input item-stacked-label">
				<span class="input-label">{{ settings.default_language_shortcut }}
					<span class="form-error" ng-show="formError.textF">{{ formError.textF }}</span>
				</span>
				<input type="text" ng-model="newWord.textF" placeholder="expression">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">{{ settings.learning_language_shortcut }}
					<span class="form-error" ng-show="formError.textT">{{ formError.textT }}</span>
				</span>
				<input type="text" ng-model="newWord.textT" placeholder="translation">
			</label>
			<button class="button button-balanced button-block" ng-click="addWord(newWord)">
  			add expression
			</button>
		</form>
		<div ng-show="wordAdded">
			New expression has been added:<br/>
			({{ settings.default_language_shortcut }}){{ newWord.textF }} - ({{ settings.learning_language_shortcut }}){{ newWord.textT }}<br/>
			<a class="button button-outline button-balanced icon icon-chevron-left" href="#/tab/home">Back</a>
			<a class="button button-outline button-balanced icon icon-chevron-left" ng-click="clearForm()">Add another</a>
		</div>
		<div class="form-error" ng-show="wordAddError">
			Expression could not be added:<br/>
			{{ expressionAddError }}<br/>
		</div>
	</ion-content>
</ion-view>