<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
    	<div class="item item-divider">
    		Default language
    	</div>
    	<div class="item" ng-repeat="language in languages" ng-if="language.language_id == settings.default_language">
    		{{ language.shortcut }} - {{ language.name }}
    	</div>
    	<div class="item item-divider">
    		Learning languages
            <a class="button button-divider button-small button-clear button-balanced icon ion-plus-round" href="#/tab/new-language"></a>
    	</div>
    	<div class="item language-item" ng-repeat="language in languages" ng-if="language.language_id != settings.default_language"  ng-class="(language.language_id == settings.learning_language)?'selected':''" ng-click="setLearningLanguage(language.language_id)" ng-checked="(language.language_id == settings.learning_language)">
            {{ language.shortcut }} - {{ language.name }}
    	</div>
    </div>
  </ion-content>
</ion-view>
