<ion-view view-title="Vocabulary">
	<ion-nav-buttons side="right" >
		<a class="button button-clear icon ion-plus-round" href="#/tab/new-word"></a>
		<button class="button button-clear icon ion-arrow-swap" ng-click="switchLanguages()"></button>
		<button class="button button-clear icon ion-search" ng-click="toggleSearch()"></button>
	</ion-nav-buttons>
	<ion-header-bar class="bar bar-subheader row">
		<span class="col col-50">{{ (defaultFirst) ? settings.default_name : settings.learning_name }}</span>
		<span class="col col-50">{{ (defaultFirst) ? settings.learning_name : settings.default_name }}</span>
		<article class="item row floating-search" ng-show="showSearch">
				{{ (defaultFirst) ? settings.default_shortcut : settings.learning_shortcut }}: 
					<input type="text" ng-model="search.textF" ng-show="defaultFirst" focus-on="(showSearch && defaultFirst)">
					<input type="text" ng-model="search.textT" ng-show="!defaultFirst" focus-on="(showSearch && !defaultFirst)">
			</article>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<article class="item row" ng-repeat="expression in expressions | filter: search | orderByUnicode: ((defaultFirst) ? 'textF' : 'textT')">
				<span class="col col-50">{{ (defaultFirst) ? expression.textF : expression.textT }}</span>
				<span class="col col-50">{{ (defaultFirst) ? expression.textT : expression.textF }}</span>
			</article>
		</div>
	</ion-content>
</ion-view>