<ion-view view-title="Vocabulary">
	<ion-nav-buttons>
		<button class="button button-clear icon ion-search" side="right" ng-click="toggleSearch()"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<article class="item item-divider row" ng-show="showSearch">
				<input type="text" ng-model="search.textF" ng-show="defaultFirst">
				<input type="text" ng-model="search.textT" ng-show="!defaultFirst">	
				({{ (defaultFirst) ? settings.default_language_prop.shortcut : settings.learning_language_prop.shortcut }})
			</article>
			<article class="item item-divider row">
				<span class="col col-50">{{ (defaultFirst) ? settings.default_language_prop.name : settings.learning_language_prop.name }}</span>
				<span class="col col-50">{{ (defaultFirst) ? settings.learning_language_prop.name : settings.default_language_prop.name }}</span>
				<button class="button button-balanced button-divider button-clear icon ion-arrow-swap" ng-click="switchLanguages()"></button>
			</article>
			<article class="item row" ng-repeat="expression in expressions | filter: search | orderBy: textF">
				<span class="col col-50">{{ (defaultFirst) ? expression.textF : expression.textT }}</span>
				<span class="col col-50">{{ (defaultFirst) ? expression.textT : expression.textF }}</span>
			</article>
		</div>
	</ion-content>
</ion-view>